<!DOCTYPE html>
<html>
  <head>
    <title>Cloudea</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="header">
      <div class="wrap">
        <a href="/" class="logo"><img src="/img/header-logo.png"/></a>
        <div class="nav">
          <a href="/pricing">Pricing</a>
          <a href="mailto:joanna@cloudea.ca" class="last">Contact</a>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="wrap">
        <!-- This will get replaced by the content of the other files -->
        {{ content }}
      </div>
    </div>
    <div class="footer">
      <div class="wrap">
        Cloudea is a registered business in Ontario, Canada &ndash; &copy; 2011 Cloudea
      </div>
    </div>
  </body>
</html>
